@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lifeboat</h1>
    <p class="lead">Join a game</p>
    <p><a href="@Url.Action("Play", "Home")" class="btn btn-primary btn-lg">Join game &raquo;</a></p>
</div>